name: Docker Build and Push

on:
  push:
    branches:
      - master

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
        continue-on-error: true

      - name: Build Docker images
        run: |
          GROUP=${DOCKER_GROUP:-0fpy}
          PREFIX=${DOCKER_PREFIX:-jks-agent}
          make build GROUP=$GROUP PREFIX=$PREFIX
        env:
          DOCKER_GROUP: ${{ secrets.DOCKER_GROUP }}
          DOCKER_PREFIX: ${{ secrets.DOCKER_PREFIX }}

      - name: Push Docker images
        run: |
          GROUP=${DOCKER_GROUP:-0fpy}
          PREFIX=${DOCKER_PREFIX:-jks-agent}
          make push GROUP=$GROUP PREFIX=$PREFIX
        env:
          DOCKER_GROUP: ${{ secrets.DOCKER_GROUP }}
          DOCKER_PREFIX: ${{ secrets.DOCKER_PREFIX }}
